*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

body {
  padding: 1rem;
}

.container {
  height: 1200px;
  overflow: auto;
}

table {
  table-layout: fixed;
}

td {
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}